@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

:root {
  --black: #040403;
  --main: #0F7173;
  --text: #e0d8de;
  --pink: #ff9fb2;
  --btn: #F05D5E;
  --btn-hover: #df2b2b;
  --link-hover: #F05D5E;
  --error-text: #EE4444;
  --error-back: #E7B04B;
}
